<% if(success && success.length) { %>
    <div class="alert alert-success alert-dismissible fade show d-flex align-items-center mt-3" role="alert">
        <svg class="bi flex-shrink-0 me-2 alert-msg" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
        <div>
            <%= success %>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>

<% if(error && error.length) { %>
    <div class="alert alert-danger alert-dismissible fade show d-flex align-items-center mt-3" role="alert">
        <svg class="bi flex-shrink-0 me-2 alert-msg" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
            <%= error %>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>